<app-navigation></app-navigation>

<br>

<div class="ui main three column doubling stackable grid container">
    <div class="Ingresos">
        <p>Ingresos</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>
    <div class="Gastos">
        <p>Gastos</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>
    <div class="Ahorros">
        <p>Ahorros</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>

    <div class="Totales">
        <p>Totales</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>

</div>

<router-outlet></router-outlet>