<app-navigation></app-navigation>

<br>

<div class="ui main three column doubling stackable grid container">
    <div class="column">
      <p>Title</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>
    <div class="column">
      <p>Title</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>
    <div class="column">
      <p>Title</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore obcaecati quaerat repellendus quam iste, quia dolorum reiciendis sed dignissimos perspiciatis! Amet, nobis quasi non eum accusantium exercitationem dicta quidem quis.</p>
    </div>
   
</div>

<router-outlet></router-outlet>