<div class="ui container">

      <div class="ui segment">
          <form class="ui form">
              <div class="field">
                <label>Descripción</label>
                <input type="text" name="description" placeholder="Descripción">
              </div>
              <div class="field">
                <label>Fecha</label>
                <input type="date" name="date" placeholder="Fecha">
              </div>
              <div class="field ui right labeled input">
                  <label for="amount" class="ui label">$</label>
                  <input type="text" placeholder="Cantidad" id="amount">
                  <div class="ui basic label">.00</div>
              </div>
              <div id="test" class="ui right floated small primary labeled icon button"><i class="user icon"></i> Añadir </div>
            </form>
      </div>
    
    
    
       

</div>


