<div class="ui container">

    <div class="ui segment">
        <form class="ui form">
            <div class="field">
                <label>Descripción</label>
                <input [(ngModel)]="expense.description" [ngModelOptions]="{standalone: true}" type="text" placeholder="Descripción">
            </div>
            <div class="field">
                <label>Fecha</label>
                <input [(ngModel)]="expense.date" [ngModelOptions]="{standalone: true}" type="date" value="">
            </div>
            <div class="field ui right labeled input">
                <label for="amount" class="ui label">$</label>
                <input [(ngModel)]="expense.amoung" [ngModelOptions]="{standalone: true}" type="text" placeholder="Cantidad" id="amount">
                <div class="ui basic label">.00</div>
            </div>
            <div (click)="addExpense()" class="ui right floated small primary labeled icon button"><i class="user icon"></i> Añadir </div>
        </form>
    </div>

</div>